
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}

button {
  margin:  10px 2px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
}

button:nth-of-type(1){
  background-color: green;
}
button:nth-of-type(2){
  background-color: maroon;
}
button:nth-of-type(3){
  background-color: orange;
}

